<ul>
	<% if current_user.nil? %>
		<li> None for you </li>
	<% else %>
		<li><%= link_to "Manage Organizations", organizations_path %> </li>
		<li><%= link_to "Log out", sessions_destroy_path, method: 'post' %> </li>
	<% end %>
</ul>
