<h1>Organizations</h1>

<ul class="list-group">
	<% @user.organizations.each do |o| %>
		<%= link_to o.name, organization_path(o.id), :class=>'list-group-item' %>
	<% end %>

	<%= link_to "New Organization", new_organization_path, :class=>'list-group-item list-group-item-info' %>
</ul>
